html {
  scroll-behavior: smooth;
  font-display: swap;
}

.light {
    background-color: #e0e5ec;
}

.neumorphism {
    background-color: #e0e5ec;
    box-shadow: 5px 5px 10px rgba(163, 177, 198, 1.0), -5px -5px 15px rgba(255, 255, 255, 0.7) ;
}

.inset {
    box-shadow: inset 5px 5px 10px rgba(136, 165, 191, 0.48), inset -5px -5px 15px #FFFFFF;
}

.icon {
     color: #3a3b3c;
     padding: 1rem;
     background-color: #e0e5ec;
     border-radius: 2rem;
     margin-bottom: 1rem;
     box-shadow: 5px 5px 10px #b8b9be, -5px -5px 10px #fff;
   }

   .icon:active {
    box-shadow: inset 2px 2px 4px #b8b9be, inset -2px -2px 4px #fff;
  }

/* DARK MODE */ 
  
.dark {
  background-color: #191a1e;
  color: #c7c7c7;
}

.neumorphism-dark {
    color: #c7c7c7;
    border-radius: 50px;
    background: #191a1e;
    box-shadow:  5px 5px 15px #0a0a0c, 
             -5px -5px 15px #282a30;
}

   .inset-dark {
    box-shadow: inset 1.5px 1.5px 3px #0a0a0c, inset -1.5px -1.5px 3px #282a30; 
  } 

  .icon-dark {
    color: #c7c7c7;
    background-color: #191a1e;
    border-radius: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 5px 5px 10px #0a0a0c, -5px -5px 10px #282a30;
  }

   .icon-dark:active {
     box-shadow: inset 2px 2px 4px #0a0a0c, inset -2px -2px 4px #282a30;
   }

   .card {
    border-radius: 21px; 
    background: transparent;
}

   h1, h2, h4, h5 {
    font-family: 'Chivo', sans-serif;
  }

   
   .card-content, .btn, p {
    font-family: 'Comfortaa', cursive;
   }
      
   /* animation */
   .bio::before {
    content: 'Programmer.';
    animation: bio 3s linear infinite;
   }

   @keyframes bio {
  0% { 
      content: "Programmer."; 
  } 

  25% { 
      content: "Web Developer."; 
    } 

  50% { 
      content: "App Developer."; 
  } 
    
  75% { 
      content: "Student."; 
  } 
}
