<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Suriyaa Kumar is an Web/App/Integration Developer based in Chennai, Tamil Nadu. He is skilled in building web and mobile applications as well as creating SaaS workflows. Look at my portfolio to see what I've done.">
  <meta name="keywords" content="suriyaa kumar, suriyaa kumar developer, web developer chennai, integration developer chennai, flutter developer chennai, app developer chennai, react developer chennai, node developer chennai, developer">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="../public/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@900&family=Comfortaa:wght@500&display=swap"
    rel="stylesheet">
   <title>Suriyaa Kumar</title>
</head>
<body class="light" ondblclick="toggleDarkMode();">
<main>
  <audio id="light_off">
    <source src="../public/sounds/light_off.mp3" type="audio/mpeg">
 </audio>
 <audio id="light_on">
 <source src="../public/sounds/light_on.mp3" type="audio/mpeg">
 </audio>
  <div class="container">
    <div class="row section">
      <div class="col s12">
        <div class="card block neumorphism">
          <div class="card-content center">
            <p class="flow-text">Double tap / Double click anywhere to switch between dark and light modes.</p>
              <h1 class="center hide-on-small-only">SURIYAA KUMAR</h1>
              <h4 class="center hide-on-med-and-up">SURIYAA KUMAR</h4>
            <h5 class="bio"></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row section">
      <div class="col s12">
        <div class="card block neumorphism">
          <div class="card-content center">
            <p class="section flow-text">
              I work as a Software Developer in <a href="https://www.cloudify.biz" target="_blank"> Cloudify </a>  and I mainly work with Javascript and REST APIs. I write integration workflows between platforms and develop connectors for APIs as well as being involved in front-end app development. In my spare time, I choose to improve my skills by working on new and existing personal projects and experiment with them. <br> <br>
              I can be contacted via Linkedin or email and you can do so, by clicking the icons below.
            </p>
            <div class="card-action center">
              <a aria-label="My Linkedin Profile." href="https://www.linkedin.com/in/suriyaa-kumar-bb3820197" target="_blank" rel="noopener"> <i class="fa fa-linkedin fa-2x icon link"></i> </a>
              <a aria-label="My Leetcode Profile" href="https://github.com/suriyaakumar/" target="_blank" rel="noopener"> <i class="link fa fa-github fa-2x icon"></i> </a>
              <a aria-label="My E-mail" href="mailto:believeinsurya@gmail.com" target="_blank" rel="noopener"> <i class="link fa fa-envelope fa-2x icon"></i> </a>
          </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
    <script src="../public/script.js"></script>
    </main>
  </body>
</html>